%article
  %header
    %h1 Обо мне
  :textile
    !(a_left)images/me.jpg!
    Я - всего лишь я Я - всего лишь я Я - всего лишь яЯ - всего лишь я Я - всего лишь я Я - всего лишь я Я - всего лишь я Я - всего лишь я Я - всего лишь я Я - всего лишь я