/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

article {
  font-size: 12pt;
  font-family: Georgia, Times New Roman, Times, serif;
  p {
    font: inherit;
    line-height: 1.5em;
  }
  h1 {
    font-size: 2.1em;
    line-height: 2.1em;
  }
  time {
    font-size: 0.9em;
    font-style: italic;
    color: #666666;
    display: block;
    margin: -1.5em 0 1.5em 0;
  }
}